<h1>This is not Twitter</h1>

<hr>

  <div>

    {{#each}}

      <h4>{{#link-to 'twit' this.id}}{{twit}}{{/link-to}}</h4>
      <hr>

    {{/each}}

  </div>

  <form>
    <div class="form-group">
      <label for="twit">Twit</label>
      {{input type="textarea" class="form-conrol" value=twit}}
    </div>

    <button class="btn btn-primary" {{action 'addTwit'}}>Submit Twit</button>
  </form>


  <div>
      {{outlet}}
  </div>
